<div>
  <h3><u>Effectuer votre recherche </u></h3>
</div>
<br />
<div class="container">
  <form action="/recherche/" method="get">
    <fieldset>
      <div class="input-group">
        <div class="input-group-prepend"></div>
        <input
          id="oSaisie"
          name="oSaisie"
          type="text"
          class="form-control"
          aria-label="Saisie de code"
          placeholder="code"
          required="required"
        />
        <div class="input-group-prepend"></div>
        <input
          id="oSaisie"
          name="oSaisie"
          type="text"
          class="form-control"
          aria-label="Saisie de mots clés"
          placeholder="Mot(s) clé(s)"
          required="required"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Recherche</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <table>
      <thead>
        <tr>
          <th scope="col">Code continent</th>
          <th scope="col">Nom continent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of continent">
          <td scope="row">{{ item.code }}</td>
          <td scope="row">{{ item.name }}</td>
        </tr>
      </tbody>
      <div class="container mt-2">
        <div class="row mt-2">
          <div class="col col-md-4 offset-md-4">
            <button class="btn btn-primary" routerLink="/ajouter-continent">
              Ajouter un continent
            </button>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-2">
          <!-- existing code hidden for display purpose -->
        </div>
      </div>
    </table>
  </div>
</div>
