<div>
  <h3><u>Effectuer votre recherche </u></h3>
</div>
<br />
<div class="container">
  <form action="/recherche/" method="get">
    <fieldset>
      <div class="input-group">
        <div class="input-group-prepend"></div>
        <input
          [(ngModel)]="search.code"
          id="oSaisie"
          name="oSaisie"
          type="text"
          class="form-control"
          aria-label="Saisie de code"
          placeholder="code"
          required="required"
        />
        <div class="input-group-prepend"></div>
        <input
          [(ngModel)]="search.kw"
          id="oSaisie"
          name="oSaisie"
          type="text"
          class="form-control"
          aria-label="Saisie de mots clés"
          placeholder="Mot(s) clé(s)"
          required="required"
        />
        <select name="pets" id="pet-select" [(ngModel)]="search.lang">
          <option value="">--choisir une langue--</option>
          <option value="fr">français</option>
          <option value="ang">anglais</option>
          <option value="russ">russe</option>
          <option value="esp">espagnol</option>
          <option value="ch">chinois</option>
          <option value="all">Allemand</option>
          <option value="neerd">nerlandais</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="onSearch()">
            Recherche
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="container mt-2">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <table>
      <thead>
        <tr>
          <th scope="col">Code continent</th>
          <th scope="col">Nom continent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of continent">
          <td scope="row">{{ item.code }}</td>
          <td scope="row">{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
